@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

a.py-2.px-3 {
    display: inline-block;
}

.bg-green {
    background-color: rgb(232 252 236);
}

.bg-green-100\/90 {
    background-color: rgb(232 252 236 / 0.9);
}

div.flex-none > a, div.flex-none > form {
    margin-right: 5px;
}

div.flex-none > a:last-child {
    margin-right: 0px;
}

.w-4\/10 {
    width: 40%;
}

.w-250 {
    max-width: 250px;
}