<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="CloudDbUi" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-green-100/90 antialiased">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <li :if={@current_user}>
        <span class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold">
          {@current_user.email}
        </span>
      </li>
      <li :if={@current_user && !@current_user.admin}>
        <span 
          id="user-balance" 
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold"
        >
          Balance: PLN {@current_user.balance}
        </span>
      </li>
      <li :if={@current_user && @current_user.admin}>
        <.link
          href={~p"/users"}
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          Users
        </.link>
      </li>
      <li :if={@current_user && @current_user.admin}>
        <.link
          href={~p"/product_types"}
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          Product types
        </.link>
      </li>
      <li :if={@current_user && !@current_user.admin}>
        <.link
          href={~p"/top_up"}
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          Top up
        </.link>
      </li>
      <li>
        <.link
          href={~p"/products"}
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          Products
        </.link>
      </li>
      <li :if={@current_user}>
        <.link
          href={~p"/orders"}
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          Orders
        </.link>
      </li>
      <li :if={@current_user && @current_user.admin}>
        <.link
          href={~p"/sub-orders"}
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          Order positions
        </.link>
      </li>
      <li :if={@current_user}>
        <.link
          href={~p"/settings"}
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          Settings
        </.link>
      </li>
      <li :if={@current_user}>
        <.link
          href={~p"/log_out"}
          method="delete"
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          Log out
        </.link>
      </li>
      <li :if={!@current_user}>
        <.link
          href={~p"/register"}
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          Register
        </.link>
      </li>
      <li :if={!@current_user}>
        <.link
          href={~p"/log_in"}
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          Log in
        </.link>
      </li>
    </ul>
    {@inner_content}
  </body>
</html>
